<template>
  <v-container>
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
      >
        <v-card class="elevation-10">
          <v-img
            :src="ad.imageSrc"
            height="300"
          ></v-img>
          <v-card-title class="text--primary">{{ ad.title }}</v-card-title>
          <v-card-subtitle>{{ ad.description }}</v-card-subtitle>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              class="warning"
            >
              Edit
            </v-btn>
            <v-btn
              class="success"
            >
              Buy
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Ad',
  props: ['id'],
  computed: {
    ad () {
      return this.$store.getters.getAdById(this.id)
    }
  }
}
</script>

<style scoped>

</style>
