<template>
  <v-container>
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols="12" sm="6" lg="4"
      >
        <h1 class="text--secondary mb-3">My ads</h1>
        <v-card
          v-for="(item, i) in myAds"
          :key="i"
          class="elevation-10 mb-5"
        >
          <v-row class="ma-0">
            <v-col cols="4" class="pa-0">
              <v-img
                :src="item.imageSrc"
                height="150"
              ></v-img>
            </v-col>
            <v-col cols="8" class="pa-0">
              <v-card-title class="text--primary">{{ item.title }}</v-card-title>
              <v-card-subtitle>{{ item.description }}</v-card-subtitle>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  :to="`/ad/${item.id}`"
                  class="info"
                >Open</v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {}
  },
  computed: {
    myAds () {
      return this.$store.getters.getMyAds
    }
  }
}
</script>

<style scoped>

</style>
