<template>
  <v-container>
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
        xs="12"
        sm="6"
        md="6"
        lg="4"
      >
        <h1 class="text--secondary mb-3">Create new ad</h1>
        <v-form
          ref="form"
          v-model="valid"
          validation
        >
          <v-text-field
            v-model="title"
            :rules="titleRules"
            label="Ad title"
            name="title"
            type="text"

            required
          ></v-text-field>
          <v-textarea
            v-model="description"
            :rules="descriptionRules"
            label="Ad description"
            name="description"
            type="text"
            :no-resize="true"
            :rows="3"
          ></v-textarea>
        </v-form>
        <v-row>
          <v-col cols="12">
            <v-btn
              class="ma-2 white--text warning"
            >
              Upload
              <v-icon right dark>mdi-cloud-upload</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12">
            <img src="" alt="" height="100" />
          </v-col>
          <v-col cols="12">
            <v-switch
              v-model="promo"
              label="Add to promo?"
            ></v-switch>
          </v-col>
          <v-col cols="12">
            <v-row>
              <v-spacer></v-spacer>
              <v-btn
                @click="createAd"
                :disabled="!valid"
                class="success"
              >
                Create ad
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      valid: false,
      title: '',
      titleRules: [
        v => !!v || 'Title is required'
      ],
      description: '',
      descriptionRules: [],
      promo: false
    }
  },
  methods: {
    createAd () {
      if (this.$refs.form.validate()) {
        const ad = {
          title: this.title,
          description: this.description,
          promo: this.promo,
          imageSrc: 'https://lh3.googleusercontent.com/proxy/_O3Mvy6Jg8-zIfR5cphLgJiHV6-ExLy0gswprY-qHOLbeHi8PntgvkMfLQWobkGGN1euIPuWbEQs1vUr7vfAzjJFdelVkX1a1dJC9y6b'
        }
        this.$store.dispatch('createAd', ad)
      }
    }
  }
}
</script>

<style scoped>

</style>
