<template>
  <div>
    <v-container fluid>
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          cols="12"
        >
          <v-carousel>
            <v-carousel-item
              v-for="(item,i) in promoAds"
              :key="i"
              :src="item.imageSrc"
            >
              <v-btn class="error carousel__btn" :to="`/ad/${item.id}`">{{ item.title }}</v-btn>
            </v-carousel-item>
          </v-carousel>
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid>
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          v-for="(item, i) in ads"
          :key="i"
          cols="12"
          sm="6"
          md="4"
        >
          <v-card>
            <v-img
              height="200px"
              :src="item.imageSrc"
            ></v-img>
            <v-card-title>{{ item.title }}</v-card-title>
            <v-card-subtitle>{{ item.description }}</v-card-subtitle>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn :to="`/ad/${item.id}`" text>Open</v-btn>
              <v-btn raised class="primary">Buy</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  },
  computed: {
    promoAds () {
      return this.$store.getters.getPromoAds
    },
    ads () {
      return this.$store.getters.getAds
    }
  }
}
</script>

<style scoped>
  .carousel__btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
