<template>
  <v-app>
    <v-navigation-drawer
      app
      temporary
      v-model="showMenu"
    >
      <v-list dense>
        <v-list-item
          v-for="item in menuLinks"
          :key="item.title"
          :to="item.link"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          @click="logOut"
          v-if="isUserLoggedIn"
        >
          <v-list-item-icon>
            <v-icon left>mdi-exit-to-app</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar dark color="primary" app>
      <v-app-bar-nav-icon
        @click="toggleMenu"
        class="hidden-md-and-up"
      ></v-app-bar-nav-icon>
      <v-toolbar-title>
        <router-link to="/" tag="span" class="app__title">Application</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          v-for="item in menuLinks"
          :key="item.title"
          :to="item.link"
          text
          elevation="0"
        >
          <v-icon v-text="item.icon" left></v-icon>
          {{ item.title }}
        </v-btn>
        <v-btn
          @click="logOut"
          v-if="isUserLoggedIn"
          text
        >
          <v-icon left>mdi-exit-to-app</v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-main>
        <router-view></router-view>
    </v-main>
    <v-footer app>
    </v-footer>
    <template v-if="error">
      <v-snackbar
        @input="closeError"
        :value="true"
        :bottom="true"
        :multi-line="true"
        :timeout="5000"
        color="error"
      >
        {{ error }}
        <template v-slot:action="{ attrs }">
          <v-btn
            @click="closeError"
            dark
            text
            v-bind="attrs"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      showMenu: false
    }
  },
  computed: {
    error () {
      return this.$store.getters.getError
    },
    isUserLoggedIn () {
      return this.$store.getters.getUserLoggedIn
    },
    menuLinks () {
      if (this.isUserLoggedIn) {
        return [
          {title: 'Orders', icon: 'mdi-bookmark-outline', link: '/orders'},
          {title: 'New ad', icon: 'mdi-file-plus', link: '/new'},
          {title: 'My ads', icon: 'mdi-format-list-bulleted', link: '/list'}
        ]
      }
      return [
        {title: 'Login', icon: 'mdi-lock', link: '/auth'},
        {title: 'Registration', icon: 'mdi-account-plus', link: '/registration'}
      ]
    }
  },
  methods: {
    toggleMenu () {
      this.showMenu = !this.showMenu
    },
    closeError () {
      this.$store.dispatch('clearError')
    },
    logOut () {
      this.$store.dispatch('logOutUser')
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
  .app__title {
    cursor: pointer;
  }
</style>
